In [2]:
SELECT TOP (10) company_location AS Country, AVG(salary_in_usd) as Average_Salary
FROM dbo.Data_Science_Salaries
GROUP BY company_location
ORDER BY AVG(salary_in_usd) DESC

Country,Average_Salary
Qatar,300000
Israel,217332
Puerto Rico,167500
United States,157073
New Zealand,151634
Canada,139832
Saudi Arabia,134999
Ukraine,121333
Bosnia and Herzegovina,120000
Australia,114673